
body{
    margin: 0px;
    font-family: sans-serif;
    overflow-x: hidden;
}

.bg-img{
    height: 80vh;
    background-image: url(Capture.JPG);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    
}
.cover{
    color: white;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.74);
}
.bg-img2{
    color: white;
    background-image: url(logobg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: right;
}
.cover2{
    background-color: rgb(22, 22, 22);
    background: linear-gradient(to right ,rgba(22, 22, 22, 1) 60%, rgba(22, 22, 22, 0)100%);
}
.bg-img3{
    text-align: center;
    background-image: url(wlc.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
.cover3{
    background-color: white;
    background: linear-gradient(to right ,rgba(255, 255, 255, 0) 30%, rgb(255, 255, 255)70%);
}
.cover3 h2{
    font-weight: bolder;

}

.about_div span{
    border: 10px solid black;
    font-size: 2em;
    font-weight: bolder;
    letter-spacing: 10px;
}

.overlay {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(to top ,rgb(252, 252, 252) 30%, rgba(255, 255, 255, 0)100%);
    overflow: hidden;
    width: 100%;
    height: 0;
    transition: .5s ease;
}
 .card{
     border: 0px;
 }
.team .card span{
    border: 5px solid black;
    font-size: 1em;
    letter-spacing: 2px;
    padding: 2px;
}
.team .card h3{
    font-weight: bold;
}
.card:hover .overlay {
    height: 100%;
  }

.desc{
    color: white;
    font-weight: bolder;
}
.social i{
    background-color: black;
    color: white;
    font-size: 2rem;
    padding: 10px;
}
@media screen and (min-width: 320px) and (max-width: 455px){
    
    .about_div span{
        font-size: 1em;
        border: 5px solid black;
        letter-spacing: 0px;
        font-weight: bold;
    }
    .cover h1{
        font-size: 20px;
    }
    .cover p{
        font-size: 15px;
    }
    .bg-img{
        height: 90vh;
    }
    .cover{
        height: 100vh;
    }
}